<div class="container">
  <div class="navbar">
    <nav>
      <div class="brand">
        <span>VoterCard</span>
      </div>
      <div class="nav-items">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Get Started</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="welcome-body">
    <span class="welcome-title">Welcome to our Website</span>
    <span class="note">This is how we vote.</span>
    <button class="get-start" (click)="login()">Get started</button>
  </div>
</div>
